@model Cts.NetCore.Models.HexCard

<h1>Card Info:</h1>
<H3>Name: @Html.DisplayTextFor(model => model.Name)</H3>
<H3>Set: @Html.DisplayTextFor(model => model.Set)</H3>
<H3>Rarity: @Html.DisplayTextFor(model => model.Rarity)</H3>