@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<h2>Index</h2>

<p>This webpage is a horrible little hacked together piece of garbage</p>

<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6">
                //Enter Card Info Here
            </div>
            <div class="col-md-6">
                <ul class="nav nav-tabs" data-tabs="tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#price">Price</a></li>
                    <li><a data-toggle="tab" href="#currentstock">Current Stock</a></li>
                    <li><a data-toggle="tab" href="#buy">Buy</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="price">
                        <h1>Card Price</h1>
                        <p>Financial Analysis Database</p>
                    </div>
                    <div class="tab-pane" id="currentstock">
                        <h1>Stock Level:</h1>
                        <p>5 cards</p>
                    </div>
                    <div class="tab-pane" id="buy">
                        <h1>Purchase Card</h1>
                        <p>Buy this card at its current price</p>
                        <button type="button" class="btn btn-success">Buy Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            e.relatedTarget // previous tab
        });
</script>

